#Envio { 
    
    strong {
    text-transform: uppercase;
    margin: 20px 0;
    float: left;
    }

    span{
        color: #1ecdb2;
        font-weight: 600;
        width: 100%;
        float: left;
    }
}