.grid-estacion{
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    padding:2rem 0;
    min-height: 40rem;
    @include grid(2,2rem);
    @include telefono{
        @include grid(1,0rem); 
    }
    @include tablet{min-height: 20rem;}
    img{
        max-width: 25rem;
    }

    .desglose_estacion{

        h4{
            color:$blanco;
            font-weight: $medium;
            padding:10px 5px;
            border-radius:1px;

            &.azul{
                color:$cafe;
            }
        }
        p{font-size:15px;}
    }
}
.cafe{
    background-color: $cafe;
}