#menu{
    flex-direction: column;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    margin:0;
    position: fixed;
    z-index: 1;
    background: white;
    width: 100%;
    p{  
        @include tablet{
            max-width: 100%;
            line-height: 0;
        }
        max-width: 130px;
        text-align: center;
        font-size: 15px;
        line-height: 2rem;
    }

    ul{
       flex-direction: column;
        list-style: none;
        //overflow: scroll;
        display: flex;
        align-items:center;
        justify-content: space-around;
        margin: 0; 
        padding: 2rem 0;
        margin:0;
        display:none;
        li{
            width: auto;
            float: left;
            a{
                font-size: 17px;
                    text-align: center;
                    text-transform: uppercase;
                    color:$negro;
                    @include tablet{
                        font-size: 13px;
                    }
                    &:hover{                     
                        background: black;
                        padding: 5px 1px;
                        color: wheat;
                    }
            }
        }
        &.display{
            display: flex;
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background: white;
        }
    }

    &.fijo{
        position: fixed;
        top: 0;
        background: $blanco;
        z-index: 99;
        margin: 0;
        box-shadow: 0 4px 30px 0px #414141;
        width:100%;

        #menu .menu_movil{
            span{
                &:nth-child(2){display: none;}
            }
        } 
    }
    
    .menu_movil{
        //display:none;
        @include tablet{ 
            display:flex;
            flex-direction: column;
            margin:1rem;
            align-items: center;
        }
        span{
            width: 40px;
            height: 5px;
            background-color: #000000;
            float: left;
            margin: 5px;
        }
    }
}

#menu_movil {
    flex-direction: column;
    display: flex;
}

a.cerrar {
    position: absolute;
    right: 0;
    font-size: 30px!important;
    font-weight: 900;
    margin: 0 20px;
} 

.menu-rs {
    display: flex;
    justify-content: center;
    align-items: center;
}